:root {
  --pale-blue: hsl(225, 100%, 94%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --bright-blue: hsl(245, 75%, 52%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --desaturated-blue-translucid: hsla(224, 23%, 55%, 50%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 1.5em;
  font-weight: 900;
}

p {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.5em;
}

button {
  padding: 1em 0 1em 0;
  border: none;
  border-radius: 1em;
  font-size: 1em;
  font-family: "Red Hat Display", sans-serif;
  cursor: pointer;
  font-weight: 900;
}

.background {
  background-color: var(--pale-blue);
  background-image: url("../images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.content {
  flex-grow: 1;
  display: grid;
  place-items: center;
  width: 100%;
  padding: 0 1em 0 1em;
}

.card {
  border-radius: 1em;
}

.summary {
  max-width: 400px;
  overflow: hidden;
  background-color: white;
  box-shadow: var(--desaturated-blue-translucid) 0px 1em 2em -1em;
}

.summary__illustration {
  width: 100%;
}

.summary__wrapper {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.summary__title {
  text-align: center;
  padding: 0.75em 0 0 0;
  color: var(--dark-blue);
}

.summary__description {
  text-align: center;
  padding: 1em;
  color: var(--desaturated-blue);
}

.plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--very-pale-blue);
  padding: 1.5em;
  margin-bottom: 1.5em;
}

.music-icon {
  background-image: url("../images/icon-music.svg");
  background-position: center;
  background-color: var(--pale-blue);
  height: 3em;
  width: 3em;
  border-radius: 50%;
}

.plan__wrapper {
  flex: 1 0 auto;
  padding-left: 1em;
}

.plan__name {
  font-weight: 900;
  color: var(--dark-blue);
}

.plan__price {
  color: var(--desaturated-blue);
}

.plan__change {
  color: var(--bright-blue);
  font-weight: bold;
  text-decoration-thickness: 1px;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.plan__change:hover {
  opacity: 80%;
  text-decoration: none;
}

.summary__button--primary {
  background-color: var(--bright-blue);
  color: white;
  margin-bottom: 1em;
  box-shadow: var(--desaturated-blue) 0px 1em 2em -1em;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.summary__button--primary:hover {
  opacity: 80%;
}

.summary__button--secondary {
  background-color: transparent;
  color: var(--desaturated-blue);
  margin-bottom: 1em;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.summary__button--secondary:hover {
  color: var(--dark-blue);
}

.attribution {
  flex-shrink: 0;
  padding-bottom: 1em;
}

@media screen and (min-width: 450px) {
  .background {
    background-image: url("../images/pattern-background-desktop.svg");
  }

  .summary__wrapper {
    padding: 1em 2em;
  }
}
